.form__container{
    min-height: 500px;
}
@media (width < 641px) {
    .form__container{
        border-radius: 20px;
        overflow: hidden;
    }
    .form__img,
    .form__img--signUp{
        min-height: 300px;
        background-position: top !important;
    }
}
.form__img{
    background-image: url('../../assets/login.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.form__img--signUp{
    background-image: url('../../assets/signup.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.register__dropMenu{
    position: relative;
    &::before{
        content: '';
        border: 13px solid;
        border-color: transparent transparent #f4f4f4 transparent;
        position: absolute; 
        top: -25px;
        left: 12px;
    }
}
