.product__box,
.product__img {
    max-width: 250px;
    min-width: 200px;
}

.product__img {
    img {
        width: 100%;
    }
}

.row__style--box {
    min-width: 100px !important;
    .product__img {
        min-width: 100px !important;
    }
}